@import "../../variables.scss";

.nominated-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	.nominated-list {
		width: 100%;
		background-color: $secondary-background-color;
		padding: 5px 15px;
		border-radius: 8px;
		// border: 1px solid $main-flare;
	}

	.no-nominations {
		text-align: center;
		color: $secondary-font-color;
		font-size: 20px;
		font-weight: 300;
		margin: 10px;
	}

	> p {
		font-size: 20px;
		margin-bottom: 10px;
		color: $secondary-font-color;
		font-weight: 300;
	}

	h1 {
		font-size: 40px;
		font-weight: 400;
		color: $main-font-color;
	}

	.movie-item {
		width: 100%;
		background-color: $third-background-color;
		padding: 15px;
		margin: 10px 0px;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		img {
			height: 160px;
		}

		div {
			margin-left: 25px;

			h3 {
				font-size: 22px;
				margin-bottom: 10px;
				color: $main-font-color;
				font-weight: 400;
			}

			p {
				font-size: 18px;
				margin: 6px 0px;
				color: $secondary-font-color;
				font-weight: 300;
			}

			button {
				padding: 5px 15px;
				font-size: 20px;
				border: 1px solid $main-flare;
				background-color: $secondary-background-color;
				border-radius: 4px;
				color: $secondary-font-color;
				font-weight: 300;

				&:hover {
					cursor: pointer;
					background-color: $third-background-color;
				}
			}
		}
	}
}
