$main-background-color: rgb(4, 14, 31);
$secondary-background-color: rgb(31, 40, 54);
$third-background-color: rgba(254, 254, 254, 0.201);
$main-font-color: rgb(227, 227, 227);
$secondary-font-color: rgb(219, 224, 232);

$main-flare: #00b4d8;
