$main-background-color: rgb(7, 19, 40);
$secondary-background-color: rgb(32, 42, 60);
$third-background-color: rgb(50, 61, 84);
$main-font-color: rgb(227, 227, 227);
$secondary-font-color: rgb(219, 224, 232);
$availible-button: rgb(80, 89, 103);
$unavailible-button: rgb(60, 60, 60);

$main-flare: #00b4d8;
